<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
          <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
          <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,400italic,600italic,600,700,700italic,900,300italic,300,200italic,200' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="styles.min.css">


    </head>
    <body>
        <style>
        pre > code {
          padding: 0;
          margin: 0;
          font-size: 100%;
          word-break: normal;
          white-space: pre;
          background: transparent;
          border: 0;
        }
        pre code:before,
        .markdown-body pre code:after {
          content: normal;
        }
        pre code {
          display: inline;
          max-width: initial;
          padding: 0;
          margin: 0;
          overflow: initial;
          line-height: inherit;
          word-wrap: normal;
          background-color: transparent;
          border: 0;
        }
        pre {
          word-wrap: normal;
        }
        pre {
            white-space: pre;
            white-space: pre-wrap;
            word-wrap: break-word;
          }
        </style>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <article class="type-system-sans">
            <div class="hero-container">
                <div class="hero staggered">
                    <h1 class="glideInRight">ReboundGen</h1>
                    <h3 class="bounceInScale">Editable CSS3 animations calculated using Science</h2>
                    <p class="slideInLeft">
                        <span>ReboundGen</span> calculates springy CSS3 Keyframe animations based on a few simple parameters you define. It uses Facebook's <a href="https://github.com/facebook/rebound-js" target="_blank">Rebound.js</a> for the math and outputs SCSS style sheets for each animation. So, you can import just the ones you need. A variety of nice animations can be accomplished using a small set of parameters.
                    </p>

                    <p class="bounceInDown">
                        Smooth animations, just a <code>class</code> away.
                    </p>

                    <p class="bounceInRight">
                        Use any of the provided animations, or build your own by modifying the <code>data/data.json</code> file.
                    </p>

                    <p class="bounceInLeft">
                        Check it out on <a href="https://github.com/dwarcher/reboundgen/tree/master">github</a>
                    </p>
                </div>
            </div>
            <p>
                
            <div class="animations-container">
                <h1>Examples:</h1>
                {{#each animations}}
                <div class="example-container">
                    <code>.{{name}}</code>
                    <div class="animation-example" data-anim="{{name}}"></div>
                </div>
                {{/each}}
            </div>
                
            </p>


<div style="clear: both" class="instructions-container">
<hr/>
<!-- from readme -->
<h2 id="how-to-use"><a name="user-content-how-to-use" href="#how-to-use" class="headeranchor-link"  aria-hidden="true"><span class="headeranchor"></span></a>How to use</h2>
<ol>
<li><a href="https://github.com/dwarcher/reboundgen/archive/master.zip">Download</a> this package.</li>
<li>SCSS files are available in the <code>dist/</code> folder. You can import the <code>_animations.scss</code> file to include all the animations.</li>
<li>Simply put the corresponding class on the element you want to animate. For Example: <code>bounceInRight</code>. Note that for the flipping animations you may need <code>perspective: XXXXpx;</code> on the container element for the full effect.</li>
</ol>
<p>It&rsquo;s recommended that you comment out animations you aren&rsquo;t using from <code>_animations.scss</code>, as these animations can get quite large.</p>
<h2 id="how-to-customize-and-build-your-own-animations"><a name="user-content-how-to-customize-and-build-your-own-animations" href="#how-to-customize-and-build-your-own-animations" class="headeranchor-link"  aria-hidden="true"><span class="headeranchor"></span></a>How to customize and build your own animations</h2>
<ol>
<li>Clone this repo <code>git clone https://github.com/dwarcher/reboundgen.git .</code></li>
<li>Install <a href="http://gruntjs.com/getting-started">Grunt</a> if you haven&rsquo;t.</li>
<li>Edit the <code>data/data.json</code> (see below for more details)</li>
<li>Run &lsquo;grunt build&rsquo;</li>
<li>Built animations will go into <code>dist/</code></li>
</ol>
<p>Alertnately, you can compile from code.</p>
<p>Install the module with: <code>npm install reboundgen</code></p>
<pre><code class="javascript">var reboundgen = require('../lib/reboundgen.js');

reboundgen.generateFromFile(&quot;data/data.json&quot;)
</code></pre>

<p>This could easily be turned into a grunt or gulp plugin&hellip;</p>
<h2 id="data-format"><a name="user-content-data-format" href="#data-format" class="headeranchor-link"  aria-hidden="true"><span class="headeranchor"></span></a>Data format</h2>
<pre><code class="javascript">{ 
    &quot;outputFolder&quot;: &quot;dist/&quot;,
    &quot;animations&quot;: 
    [
        {
            &quot;steps&quot;: 50,
            &quot;name&quot;: &quot;bounceInRight&quot;,
            &quot;tension&quot;: 50,
            &quot;friction&quot;: 5,
            &quot;fadeIn&quot;: 150,
            &quot;hardBounce&quot;: true,
            &quot;bounceDamp&quot;: 0.4,
            &quot;properties&quot;: {
                &quot;translateX&quot;: { 
                    &quot;start&quot;: 500, 
                    &quot;end&quot;: 0 
                }
            }
        }
    ]
}
</code></pre>

<h4 id="steps"><a name="user-content-steps" href="#steps" class="headeranchor-link"  aria-hidden="true"><span class="headeranchor"></span></a>steps</h4>
<p>Type: <code>Number</code><br />
Default value: <code>50</code></p>
<p>The number of keyframes to generate. Depending on how complex your animation becomes, you may need more or less frames.</p>
<h4 id="name"><a name="user-content-name" href="#name" class="headeranchor-link"  aria-hidden="true"><span class="headeranchor"></span></a>name</h4>
<p>Type: <code>String</code></p>
<p>The name of the animation and resulting .scss file. Be sure to avoid illegal characters.</p>
<h4 id="tension"><a name="user-content-tension" href="#tension" class="headeranchor-link"  aria-hidden="true"><span class="headeranchor"></span></a>tension</h4>
<p>Type: <code>Number</code><br />
Default value: <code>30</code></p>
<p>Tension of the spring. How quickly it snaps back.</p>
<h4 id="friction"><a name="user-content-friction" href="#friction" class="headeranchor-link"  aria-hidden="true"><span class="headeranchor"></span></a>friction</h4>
<p>Type: <code>Number</code><br />
Default value: <code>5</code></p>
<p>Friction force. Slows the spring motion.</p>
<h4 id="fadein"><a name="user-content-fadein" href="#fadein" class="headeranchor-link"  aria-hidden="true"><span class="headeranchor"></span></a>fadeIn</h4>
<p>Type: <code>Number</code><br />
Default value: <code>0</code></p>
<p>Time in milliseconds to fade in opacity.</p>
<h4 id="fadeout"><a name="user-content-fadeout" href="#fadeout" class="headeranchor-link"  aria-hidden="true"><span class="headeranchor"></span></a>fadeOut</h4>
<p>Type: <code>Number</code><br />
Default value: <code>0</code></p>
<p>Time in milliseconds to fade out opacity.</p>
<h4 id="hardbounce"><a name="user-content-hardbounce" href="#hardbounce" class="headeranchor-link"  aria-hidden="true"><span class="headeranchor"></span></a>hardBounce</h4>
<p>Type: <code>Boolean</code><br />
Default value: false</p>
<p>Instead of allowing the spring to freely oscillate, bounces the spring as if hitting a wall, when passing the target value.</p>
<h4 id="bouncedamp"><a name="user-content-bouncedamp" href="#bouncedamp" class="headeranchor-link"  aria-hidden="true"><span class="headeranchor"></span></a>bounceDamp</h4>
<p>Type: <code>Number</code><br />
Default value: <code>0</code></p>
<p>Factor of velocity lost when bouncing, in the range of 0&hellip;0.99</p>
<h4 id="properties"><a name="user-content-properties" href="#properties" class="headeranchor-link"  aria-hidden="true"><span class="headeranchor"></span></a>properties</h4>
<p>Type: <code>Object</code></p>
<p>List of properties to animate. Currently we&rsquo;re suppporting:</p>
<ul>
<li>translateX</li>
<li>translateY</li>
<li>translateZ</li>
<li>scaleX</li>
<li>scaleY</li>
<li>scaleZ</li>
<li>rotate</li>
<li>rotateX</li>
<li>rotateY</li>
<li>rotateZ</li>
<li>skewX</li>
<li>skewY</li>
</ul>
<h2 id="release-history"><a name="user-content-release-history" href="#release-history" class="headeranchor-link"  aria-hidden="true"><span class="headeranchor"></span></a>Release History</h2>
<p><em>(Nothing yet)</em></p>
<h2 id="license"><a name="user-content-license" href="#license" class="headeranchor-link"  aria-hidden="true"><span class="headeranchor"></span></a>License</h2>
<p>Copyright (c) 2014 Dave Wallin<br />
Licensed under the BSD license.</p>

</div>
        </article>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>

        <script>
            $(function() {
            $(".animation-example").on('mouseover', function() {
                var anim = $(this).attr("data-anim");
                $(this).removeClass(anim);
                $(this).addClass(anim);

                $(this).one('webkitAnimationEnd oanimationend MSAnimationEnd animationend',   
                    function(e) {
                        // code to execute after transition ends
                        $(this).removeClass(anim);

                    });
                });
            });
        </script>
    </body>
</html>